/* line 1, ../scss/wip.scss */
* {
  font-family: 'Hind', sans-serif;
}

/* line 5, ../scss/wip.scss */
#container {
  border: 1px solid red;
}
/* line 8, ../scss/wip.scss */
#container .item {
  width: 450px;
  padding: 0;
  margin: 0;
  color: red;
  overflow: hidden;
  /*        * {font-size:80%;}*/
}

/***Portfolio ***/
/* line 19, ../scss/wip.scss */
.category-portfolio {
  position: relative;
}
/* line 22, ../scss/wip.scss */
.category-portfolio .post-thumbnail {
  margin: 0;
}
/* line 25, ../scss/wip.scss */
.category-portfolio .entry-header, .category-portfolio .entry-content {
  display: none;
}
