* {
 font-family: 'Hind', sans-serif;
}
// masonry
#container {

    border:1px solid red;
    .item { 
        width: 300px;
        padding:0;
        margin:0;
        color:red;
        overflow:hidden;
/*        * {font-size:80%;}*/
    }
}
